@media (min-width: 200px) and (max-width: 800px) {
  .textWe {
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gotu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.015em;


  }

  .title {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: 'Gidugu';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
  }  
}

@media screen and (min-width: 801px) {
}
