@media (min-width: 200px) and (max-width: 800px) {
 .grid-container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.card > * {
  width: 50%;
}
}