.lbl-menu {
  width: 50px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.lbl-menu #spn1,
#spn2,
#spn3 {
  position: absolute;
  background-color: black;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  transition: all 400ms ease;
}

#spn2 {
  top: 11px;
}

#spn3 {
  top: 22px;
}

#btn-menu:checked ~ .lbl-menu #spn1 {
  transform: rotate(140deg);
  top: 10px;
}
#btn-menu:checked ~ .lbl-menu #spn2 {
  display: none;
}
#btn-menu:checked ~ .lbl-menu #spn3 {
  transform: rotate(-140deg);
  top: 10px;
}

#btn-menu {
  display: none;
}
